

.App-header {
  background-color: #204160;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
}

.App-header h1 {
  text-transform: uppercase;
}
.App-header h1 span{
  text-transform: lowercase;
}

a{
  text-decoration: none;
  color:white
}
