

.App-footer {
  background-color: #767676;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 10px;
  font-family: sans-serif;
 
}

.App-footer h1 {
  text-transform: capitalize;
  text-align: left;
}

